@model SMDH.Models.PriceCategory
@using SMDH.Models.ViewModels
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/select2.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="/js/accounting.js" type="text/javascript"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h3 id="myModalLabel">
        Add new Price Category</h3>
</div>
<div class="modal-body" style="height: 400px;">
    @using (Html.BeginForm("ConfirmCreate", "PriceCategories", FormMethod.Post, new { id = "create-form", Class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.Partial("_CreateOrEdit", Model)
        </fieldset>        
    }
    <input id="btnCreate" type="submit" class="btn btn-primary" value="Create" />
    <div id="tableContainer">
    <table class="table table-bordered" id="tblData">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    Last Modified Date
                </th>
                <th>
                    Price Content
                </th>
                <th>
                    Last Modified User
                </th>
                <th>
                    Price
                </th>               
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Order.PriceCategories.Count == 0)
            {
                <tr>
                    <td colspan="6">
                        Not pricing this order yet.
                    </td>
                </tr>
                                                        
            }
            else
            {
                decimal totalPrice = 0;
                foreach (var priceCategory in ViewBag.Order.PriceCategories)
                {
                    totalPrice += priceCategory.Price;
                    PriceCategoryViewModel pcViewModel = new PriceCategoryViewModel(priceCategory);
                <tr>
                    <td>
                    </td>
                    <td>
                        @pcViewModel.EditDateString
                    </td>
                    <td>
                        @pcViewModel.PriceContent
                    </td>
                    <td>
                        @pcViewModel.StaffName
                    </td>
                    <td>
                        @(String.Format("{0,12:N0}", pcViewModel.Price))
                        VND
                    </td>
                    
                </tr>
                }
                <tr>
                    <td colspan="6">
                        Total Price: @(String.Format("{0,12:N0}", totalPrice))
                        VND
                    </td>
                </tr>      

            }
        </tbody>
    </table>
    </div>
</div>
<div class="modal-footer">    
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
</div>
<script>
    $(document).ready(function () {
        //$('#tblData').dataTable();
    });
    $('#btnCreate').click(function (event) {
        if ($('#ddlPriceTag').val() == '') {
            bootbox.alert("Please choose a price tag!");
            return;
        }
        $.post("/PriceCategories/ConfirmCreateAjax", { priceTagId: $('#ddlPriceTag').val(), orderId: $('#orderId').val() }, function (result) {
            if (result.success) {
                $.post('/PriceCategories/GetPriceCategoriesFromOrder', { orderId: $('#orderId').val() }, function (json) {
                    var strTable = '<table class="table table-bordered" id="tblData">   <thead>       <tr>' +
                                '<th>' +
                                    'No.' +
                     '           </th>' +
                                '<th>' +
                                   'Last Modified Date' +
                                 '</th>' +
                                '<th>' +
                                  'Price Content' +
                                '</th>' +
                                '<th>' +
                                   'Last Modified User' +
                                '</th>' +
                                '<th>' +
                                    'Price' +
                                '</th>' +
                           '</tr>' +
                        '</thead>' +
                        '<tbody>';
                    var strTable2 = '<table class="table table-bordered" id="tblData">   <thead>       <tr>' +
                                '<th>' +
                                    'No.' +
                     '           </th>' +
                                '<th>' +
                                   'Last Modified Date' +
                                 '</th>' +
                                '<th>' +
                                  'Price Content' +
                                '</th>' +
                                '<th>' +
                                   'Last Modified User' +
                                '</th>' +
                                '<th>' +
                                    'Price' +
                                '</th>' +
                                '<th>' +
                                'Action' +
                                '</th>' +
                           '</tr>' +
                        '</thead>' +
                        '<tbody>';
                    var totalPrice = 0;
                    for (var i = 0; i < json.data.length; i++) {
                        totalPrice += json.data[i].Price;
                        strTable += '<tr>' +
                                    '<td>' +
                                    '</td>' +
                                    '<td>' +
                                    json.data[i].EditDateString +
                                     '</td>' +
                                     '<td>' +
                                    json.data[i].PriceContent +
                                      '</td>' +
                                        '<td>' +
                                    json.data[i].StaffName +
                                        '</td>' +
                                        '<td>' +
                                        json.data[i].PriceString + ' VND' +
                                        '</td>' +
                     '</tr>';

                        strTable2 += '<tr>' +
                                    '<td>' +
                                    '</td>' +
                                    '<td>' +
                                    json.data[i].EditDateString +
                                     '</td>' +
                                     '<td>' +
                                    json.data[i].PriceContent +
                                      '</td>' +
                                        '<td>' +
                                    json.data[i].StaffName +
                                        '</td>' +
                                        '<td>' +
                                        json.data[i].PriceString + ' VND' +
                                        '</td>' +
                                        '<td>' + "<a href='javascript:void(0)' class='btn btn-mini btn-primary' onclick='editPrice(" + json.data[i].PriceCategoryId + ")'><i class='icon-pencil'></i>Edit" +
                    "</a>" + '</td>' +
                     '</tr>';
                    }

                    strTable += '<tr>' +
                        '<td colspan="5">Total Price: ' + accounting.formatMoney(totalPrice) + 'VND</td>' +
                     '</tr>';

                    strTable2 += '<tr>' +
                        '<td colspan="6">Total Price: ' + accounting.formatMoney(totalPrice) + 'VND</td>' +
                     '</tr>';

                    $('#tableContainer').html(strTable);
                    $('#priceCategoryTbl' + $('#orderId').val()).html(strTable2);

                });
            } else {
                bootbox.alert("Can't add price");
            }
        });
        return false;
    });
    
</script>
