@model HDMS.Models.District

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>District</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    @*<div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>*@

    <div class="display-label">CityProvince</div>
    <div class="display-field">@(Model.CityProvince == null ? "None" : Model.CityProvince.Name)</div>

    <div class="display-label">Wards</div>
    <div class="display-field">@(Model.Wards == null ? "None" : Model.Wards.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


