@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}
<div class="row-fluid">
    <div class="span12">
        <a style="float: right; margin-bottom: 20px;" class="btn btn-primary" href="/Customer/Products/">
            Product Management</a></div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Orders
                </div>
            </div>
            <div class="widget-body quick-actions">
                <div class="row-fluid">
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-yellow current double">
                            <a href="/Customer/Orders?&status=draft">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe006;">
                                </div>
                                <div class="brand" id="OrdersNeedToApprove">
                                    Need To Approve(@ViewBag.NumberOfOrders[0])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange">
                            <a href="/Customer/Orders?&status=repricingapproverequest">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0fe;">
                                </div>
                                <div class="brand" id="OrdersApproved">
                                    Repricing(@ViewBag.NumberOfOrders[1])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue double">
                            <a href="/Customer/Orders?&status=returnedreduceprice&status=expired">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe000;">
                                </div>
                                <div class="brand" id="OrdersRejected">
                                    Returned / Expired(@ViewBag.NumberOfOrders[2])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                            <a href="/Customer/Orders?status=plannedforcollecting">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;">
                                </div>
                                <div class="brand" id="OrdersRequested">
                                    Requested(@ViewBag.NumberOfOrders[3])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                            <a href="/Customer/Orders?&status=delivering">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;">
                                </div>
                                <div class="brand" id="OrdersDelivering">
                                    Delivering(@ViewBag.NumberOfOrders[4])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red double">
                            <a href="/Customer/Orders?&status=tobereturned">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe14a;">
                                </div>
                                <div class="brand" id="OrdersWaitingForReturn">
                                    Waiting For Return(@ViewBag.NumberOfOrders[5])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                            <a href="/Customer/Orders?&status=confirmreturned">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe00d;">
                                </div>
                                <div class="brand" id="OrdersReturned">
                                    Confirm Returned(@ViewBag.NumberOfOrders[6])
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Requests
                </div>
            </div>
            <div class="widget-body quick-actions">
                <div class="row-fluid">
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-yellow current double">
                            <a href="/Customer/Requests?&status=new">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;">
                                </div>
                                <div class="brand" id="RequestsWaitingForPrice">
                                    Waiting For Price(@ViewBag.NumberOfRequests[0])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange double">
                            <a href="/Customer/Requests?&status=pricing">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0d2;">
                                </div>
                                <div class="brand" id="RequestsNeedToApprove">
                                    Need To Approved(@ViewBag.NumberOfRequests[1])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue">
                            <a href="/Customer/Requests?status=approved">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe096;">
                                </div>
                                <div class="brand" id="RequestsApproved">
                                    Approved(@ViewBag.NumberOfRequests[2])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                            <a href="/Customer/Requests?&status=collected">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0b8;">
                                </div>
                                <div class="brand" id="RequestsCollected">
                                    Collected(@ViewBag.NumberOfRequests[3])
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                            <a href="/Customer/Requests?status=canceled">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0a9;">
                                </div>
                                <div class="brand" id="RequestsCanceled">
                                    Canceled(@ViewBag.NumberOfRequests[4])
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var source = new EventSource('/Notifications/CheckNotification');

    source.onmessage = function (e) {
        //alert(e);
        var returnedItem = JSON.parse(e.data);
        updateDashboard(returnedItem.orders, returnedItem.requests);
    }
    
    $(function () {
        //checkNotifications();
    });

    function checkNotifications() {
        $.post("/Notifications/CheckNotification", null, function (data, s) {
                //showAlert(data.content, data.link, 5000);

                //create Notifications widget
                //document.getElementById("notificationBox").innerHTML = makeHtml(data); // "<ul><li>Con mat may</li></ul>"; //makeHtml();//<ul><li>Con mat may</li></ul>
                updateDashboard(data.orders, data.requests)
                //clearTimeout(timerId);            

            checkNotifications();
        })
    }

    function updateDashboard(orders, requests) {
        $('#OrdersNeedToApprove').html("Need To Approve(" + orders[0] + ")");
        $('#OrdersApproved').html("Approved(" + orders[1] + ")");
        $('#OrdersRejected').html("Returned / Expired (" + orders[2] + ")");
        $('#OrdersRequested').html("Requested(" + orders[3] + ")");
        $('#OrdersDelivering').html("Delivering(" + orders[4] + ")");
        $('#OrdersWaitingForReturn').html("Waiting For Return(" + orders[5] + ")");
        $('#OrdersReturned').html("Returned(" + orders[6] + ")");

        $('#RequestsWaitingForPrice').html("Waiting For Price(" + requests[0] + ")");
        $('#RequestsNeedToApprove').html("Need To Approved(" + requests[1] + ")");
        $('#RequestsApproved').html("Approved(" + requests[2] + ")");
        $('#RequestsCollected').html("Collected(" + requests[3] + ")");
        $('#RequestsCanceled').html("Canceled(" + requests[4] + ")");
    }
</script>
@*<div class="widget">
    <div class="widget-header">
        <div class="title">
            Orders
        </div>
    </div>
    <div class="widget-body">
        <div style="text-align: center;">
            <ul class="quick-actions">
                <li><a href="/Customer/Orders?&status=draft"><i class="icon-draft"></i>Need To Approve(@ViewBag.NumberOfOrders[0])</a></li>
                <li><a href="/Customer/Orders?&status=approved"><i class="icon-submitted"></i>Approved(@ViewBag.NumberOfOrders[1])</a></li>
                <li><a href="/Customer/Orders?&status=rejected"><i class="icon-rejected"></i>Rejected(@ViewBag.NumberOfOrders[2])</a></li>
                <li><a href="/Customer/Orders?status=plannedforcollecting"><i class="icon-request"></i>
                    Requested(@ViewBag.NumberOfOrders[3])</a></li>
                <li><a href="/Customer/Orders?&status=delivering"><i class="icon-delivering"></i>Delivering(@ViewBag.NumberOfOrders[4])</a></li>
                <li><a href="/Customer/Orders?&status=tobereturned"><i class="icon-wait"></i>Waiting
                    for Return(@ViewBag.NumberOfOrders[5])</a></li>
                <li><a href="/Customer/Orders?&status=returned"><i class="icon-tobereturned"></i>Returned(@ViewBag.NumberOfOrders[6])</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header">
        <div class="title">
            Requests
        </div>
    </div>
    <div class="widget-body nopadding">
        <div style="text-align: center;">
            <ul class="quick-actions">
                <li><a href="/Customer/Requests?&status=new"><i class="icon-prices"></i>Waiting For
                    Price(@ViewBag.NumberOfRequests[0])</a></li>
                <li><a href="/Customer/Requests?&status=pricing"><i class="icon-draft"></i>Need To Approve(@ViewBag.NumberOfRequests[1])</a></li>
                <li><a href="/Customer/Requests?status=approved"><i class="icon-submitted"></i>Approved(@ViewBag.NumberOfRequests[2])</a></li>
                <li><a href="/Customer/Requests?&status=collected"><i class="icon-collected"></i>Collected(@ViewBag.NumberOfRequests[3])</a></li>
                <li><a href="/Customer/Requests?status=canceled"><i class="icon-rejected"></i>Canceled(@ViewBag.NumberOfRequests[4])</a></li>
            </ul>
        </div>
    </div>
</div>*@
