@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-ok"></i></span>
        <h5>
            Requests</h5>
    </div>
    <div class="widget-content nopadding">
        <div style="text-align: center;">
            <ul class="quick-actions">
                <li><a href="/Customer/Requests?&status=draft"><i class="icon-draft"></i>Draft(@ViewBag.NumberOfRequests[0])</a></li>
                <li><a href="/Customer/Requests?status=new&status=approved&status=planned"><i class="icon-submitted"></i>Submitted(@ViewBag.NumberOfRequests[1])</a></li>
                <li><a href="/Customer/Requests?&status=collected"><i class="icon-delivering"></i>Delivering(@ViewBag.NumberOfRequests[2])</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-shopping-cart"></i></span>
        <h5>
            Orders</h5>
    </div>
    <div class="widget-content nopadding">
        <div style="text-align: center;">
            <ul class="quick-actions">
                <li><a href="/Customer/Orders?&status=draft"><i class="icon-draft"></i>Draft(@ViewBag.NumberOfOrders[0])</a></li>
                <li><a href="/Customer/Orders?&status=Rejected"><i class="icon-rejected"></i>Rejected(@ViewBag.NumberOfOrders[1])</a></li>
                <li><a href="/Customer/Orders?status=New&status=Approved&status=Plannedforcollecting"><i class="icon-submitted"></i>Submitted(@ViewBag.NumberOfOrders[2])</a></li>
                <li><a href="/Customer/Orders?&status=Collected&status=Plannedfordelivering"><i class="icon-delivering"></i>Delivering(@ViewBag.NumberOfOrders[3])</a></li>
                <li><a href="/Customer/Orders?&status=Tobereturned"><i class="icon-tobereturned"></i>To be returned(@ViewBag.NumberOfOrders[4])</a></li>
            </ul>
        </div>
    </div>
</div>
