@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/select2.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date.js" type="text/javascript"></script>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class=" icon-hand-right"></i></span>
        <h5>
            Tracking Order</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Passcode</label>
            <div class="controls">
                <input type="text" />
                <button type="submit" class="btn btn-primary">
                    Comfirm</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class=" icon-hand-right"></i></span>
        <h5>
            Order Tables</h5>
    </div>
    <div class="widget-content">
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#1"><i class="icon icon-th-list"></i><span>Sending To Hub</span> <span
                class="label">@ViewBag.NumberOfOrders[0]</span></a></li>
            <li><a href="#2"><i class="icon icon-th-list"></i><span>In Hub</span> <span class="label">@ViewBag.NumberOfOrders[1]</span></a></li>
            <li><a href="#3"><i class="icon icon-th-list"></i><span>Delivered</span> <span class="label">@ViewBag.NumberOfOrders[2]</span></a></li>
            <li><a href="#4"><i class="icon icon-th-list"></i><span>Expired</span> <span class="label">@ViewBag.NumberOfOrders[3]</span></a></li>
            <li><a href="#5"><i class="icon icon-th-list"></i><span>Waiting For Return</span> <span
                class="label">@ViewBag.NumberOfOrders[4]</span></a></li>
            <li><a href="#6"><i class="icon icon-th-list"></i><span>Returned</span> <span class="label">@ViewBag.NumberOfOrders[5]</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="1">
                <table id="sendingtohub" class="table table-striped table-bordered with-check">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                            </th>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Expired Date
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="2">
                <table id="InHub" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Expired Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="3">
                <table id="Delivered" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Expired Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="4">
                <table id="Expired" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Expired Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="5">
                <table id="WaitingForReturn" class="table table-striped table-bordered with-check">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                            </th>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Expired Date
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="6">
                <table id="Return" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Delivery Date
                            </th>
                            <th>
                                Expired Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#myTab a:first').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#sendingtohub').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "1%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "10%" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "10%" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "15%" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "15%" },
        { "mDataProp": [5], sDefaultContent: "n/a", "sWidth": "15%" },
        { "mDataProp": [6], sDefaultContent: "n/a", "sWidth": "10%" }
        ],
            "bProcessing": false,
            "bServerSide": true,
            "bSort": false,
            "sAjaxSource": '/Hub/Dashboard/getalldatasendingToHub/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
    })

    $('#myTab li:eq(1) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#InHub').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "20%" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "20%" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "20%" }
        ],
            "bProcessing": false,
            "bServerSide": true,
            "bSort": false,
            "sAjaxSource": '/Hub/Dashboard/getalldatainhub/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
    })

    $('#myTab li:eq(2) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Delivered').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "20%" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "20%" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "20%" }
        ],
            "bProcessing": true,
            "bServerSide": true,
            "bSort": false,
            "sAjaxSource": '/Hub/Dashboard/getalldataDelivered/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
    })

    $('#myTab li:eq(3) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Expired').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "20%" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "20%" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "20%" }
        ],
            "bProcessing": true,
            "bServerSide": true,
            "bSort": false,
            "sAjaxSource": '/Hub/Dashboard/getalldataExpired/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
    })

    $('#myTab li:eq(4) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#WaitingForReturn').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "1%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "10%" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "10%" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "15%" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "15%" },
        { "mDataProp": [5], sDefaultContent: "n/a", "sWidth": "15%" },
        { "mDataProp": [6], sDefaultContent: "n/a", "sWidth": "10%" }
        ],
            "bProcessing": false,
            "bServerSide": true,
            "bSort": false,
            "sAjaxSource": '/Hub/Dashboard/getalldataWaitingForReturn/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
    })

    $('#myTab a:last').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Return').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "5%" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "8%" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "8%" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "8%" }
        ],
            "bProcessing": false,
            "bServerSide": true,
            "bSort": false,
            "sAjaxSource": '/Hub/Dashboard/getalldataReturn/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
    })

</script>
