@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}
<link rel="stylesheet" type="text/css" href="/css/select2.css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="/js/crud.js" type="text/javascript"></script>*@
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date.js" type="text/javascript"></script>
<script src="/js/accounting.js" type="text/javascript"></script>
<script src="/js/jquery.numeric.js" type="text/javascript"></script>
<style type="text/css">
    .table td.amount {
        text-align: right;
    }

    .table td.orderid {
        width: 100px;
    }
</style>
<h2>@ViewBag.datasendinginhub</h2>
<div class="widget">
    <div class="widget-header">
        <div class="title">
            Tracking Order
        </div>
    </div>
    <div class="widget-body">
        <form action="javascript:void(0);" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    Passcode</label>
                <div class="controls">
                    <input class="numeric" type="text" id="txtPasscode" />
                    <button type="submit" class="btn btn-primary" id="btnConfirm">
                        Confirm</button>
                </div>
                <div id="txtResultTable" style="margin-top: 10px;">
                    @*                    <table id="orderdetail" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>OrderID
                                </th>
                                <th>Due Date
                                </th>
                                <th>Order Payment Type
                                </th>
                                <th>Receiver Name
                                </th>
                                <th>Receiver Phone
                                </th>
                                <th>Amount
                                </th>
                                <th>Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>OrderID</td>

                                <td>Due Date</td>

                                <td>Order Payment Type</td>

                                <td>Receiver Name</td>

                                <td>Receiver Phone</td>

                                <td>Amount</td>
                                <td>Action</td>

                            </tr>
                        </tbody>
                    </table>*@
                </div>
            </div>
        </form>
    </div>
</div>
<div class="widget">
    <div class="widget-header">
        <div class="title">
            Order Tables
        </div>
    </div>
    <div class="widget-body">
        <ul class="nav nav-tabs" id="myTab">
            <li style="display:none;"><a href="#1"><i class="icon icon-road"></i><span>Sending To Hub</span> <span
                class="label">@ViewBag.NumberOfOrders[0]</span></a></li>
            <li><a href="#2"><i class="icon icon-download-alt"></i><span>In Hub</span> <span
                class="label">@ViewBag.NumberOfOrders[1]</span></a></li>
            <li><a href="#3"><i class="icon icon-ok"></i><span>Delivered</span> <span class="label">@ViewBag.NumberOfOrders[2]</span></a></li>
            <li><a href="#4"><i class="icon icon-refresh"></i><span>Waiting For Return</span> <span
                class="label">@ViewBag.NumberOfOrders[3]</span></a></li>
            <li><a href="#5"><i class="icon icon-share-alt"></i><span>Returned</span> <span class="label">@ViewBag.NumberOfOrders[4]</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="1">
                <div class="span11">
                    <table id="sendingtohub" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="checkallinhub" name="title-table-checkbox" />
                                </th>
                                <th style="width: 70px;">OrderID
                                </th>
                                <th style="width: 70px;">Item No.
                                </th>
                                <th>Amount
                                </th>
                                <th>Due Date
                                </th>
                                <th>Action
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="span11">
                    <table id="InHub" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">OrderID
                                </th>
                                <th style="width: 70px;">Item No.
                                </th>
                                <th>Amount
                                </th>
                                <th>Due Date
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="3">
                <div class="span11">
                    <table id="Delivered" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">OrderID
                                </th>
                                <th style="width: 70px;">Item No.
                                </th>
                                <th>Due Date
                                </th>
                                <th>Delivery Date
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="4">
                <div class="span11">
                    <table id="WaitingForReturn" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">OrderID
                                </th>
                                <th style="width: 70px;">Item No.
                                </th>
                                <th>Due Date
                                </th>
                                <th>Note
                                </th>
                                @*                            <th>
                                Action
                            </th>*@
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="5">
                <div class="span11">
                    <table id="Return" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">OrderID
                                </th>
                                <th style="width: 70px;">Item No.
                                </th>
                                <th>Collected Date
                                </th>
                                <th>Note
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="span12" id="btnChangeAll">
</div>
<script type="text/javascript">
    $(".numeric").numeric({ decimal: false, negative: false }, function () { alert("Positive integers only"); this.value = ""; this.focus(); });
    function markAsDelivered() {
        var orderId = arguments[0];
        bootbox.confirm("Mark this order as Delivered ?", function (confirmed) {
            if (confirmed) {
                $.post("/Hub/Orders/MarkAsDelivered/", { orderId: orderId }, function (data) {
                    if (data.success) {
                        window.location = '/Hub/Dashboard/'
                    } else {
                        bootbox.alert("Can not mark this as delivered");
                    }
                });

            }
        });

    };

    function markAsWaitingForReturn() {
        var orderId = arguments[0];
        bootbox.confirm("Mark this order as waiting for return ?", function (confirmed) {
            if (confirmed) {
                $.post("/Hub/Orders/MarkAsWaitingForReturn/", { orderId: orderId }, function (data) {
                    if (data.success) {
                        window.location = '/Hub/Dashboard/'
                    } else {
                        bootbox.alert("Can not mark this as waiting for return!");
                    }
                });

            }
        });

    };

    $('#btnConfirm').click(function (e) {
        var passCode = $('#txtPasscode').val();
        $.post("/Hub/Orders/SubmitPasscode/", { passCode: passCode }, function (data) {
            if (!data.success) {
                bootbox.alert("Not a valid passcode");
            } else {
                //                var resultTableString = '<div class="row-fluid" id="collection-plan-details">' +
                //            '<div class="col-left" style="width: 30%; min-width: 250px; float: left">' +
                //                '<dl class="dl-horizontal">' +
                //                    '<dt>Order No:</dt>' +
                //                    '<dd id="OrderId">' +
                //                        +data.result.OrderId + '</dd>' +
                //                    '<dt>Due date:</dt>' +
                //                    '<dd id="DueDate">' + data.result.DueDateString + '</dd>' +
                //                    '<dt>Order Payment Type</dt>' +
                //                    '<dd id="PaymentType">' + data.result.OrderPaymentType + '</dd>' +
                //                '</dl>' +
                //            '</div>' +
                //            '<div class="col-right" style="width: 30%; min-width: 300px; float: left">' +
                //                '<dl class="dl-horizontal">' +
                //                    '<dt>Receiver Name</dt>' +
                //                    '<dd id="Receiver Name">' +
                //                        data.result.ReceiverName +
                //                    '</dd>' +
                //                    '<dt>Receiver Phone:</dt>' +
                //                    '<dd id="Note">' +
                //                        data.result.ReceiverPhone + '</dd>' +
                //                     '<dt>Amount to be Collected</dt>' +
                //                    '<dd id="ToBeCollected">' +
                //                        accounting.formatMoney(data.result.AmountToBeCollected, "VND", 0, ',', '.') +
                //                    '</dd>' +
                //                '</dl>' +

                //            '</div>' +
                //            '<div style="width: 6%; min-width: 80px; float: right">' +

                //                    '<button class="btn btn-success" id="btnMarkAsFinished" style="width: 100%;" onclick="markAsDelivered(' + data.result.OrderId + ')">' +
                //                        'Mark as Finished</button>' +

                //            '</div>' +
                //        '</div>';

                //var resulttable = '<div class="widget">' +
                //    '<div class="span4 offset1">' +
                //        '<div class="widget">' +
                //            '<div class="widget-header">' +
                //                '<h5>' +
                //                    'Order No : ' +
                //        +data.result.OrderId + '</h5>' +
                //            '</div>' +
                //            '<div class="widget-header">' +
                //                '<h5>' +
                //                    'Due Date : ' + data.result.DueDateString + '</h5>' +
                //            '</div>' +
                //            '<div class="widget-header">' +
                //                '<h5>' +
                //                    'Order Payment Type : ' + data.result.OrderPaymentType + '</h5>' +
                //            '</div>' +
                //        '</div>' +
                //'</div>' +
                //'<div class="span4">' +
                //'<div class="widget">' +
                //'<div class="widget-header">' +
                //'<h5>' +
                //'Receiver Name : ' +
                //        data.result.ReceiverName +
                //    '</h5>' +
                //'</div>' +
                //'<div class="widget-header">' +
                //'<h5>' +
                //'Receiver Phone : ' +
                //        data.result.ReceiverPhone + '</h5>' +
                //'</div>' +
                //'<div class="widget-header">' +
                //'<h5>' +
                //'Amount : ' +
                //        accounting.formatMoney(data.result.AmountToBeCollected, "", 0, ',', '.') +
                //    ' VND</h5>' +
                //'</div>' +
                //'</div>' +
                //'</div>' +
                //'</div>' +
                //'<div class="span2" style="margin-top:20px;">' +
                //'<button class="btn btn-success" id="btnMarkAsFinished" style="width: 100%;" onclick="markAsDelivered(' + data.result.OrderId + ')">' +
                //        'Customer Received</button>' +
                //'<button class="btn btn-danger" id="btnReject" style="width: 100%;" onclick="markAsWaitingReturn(' + data.result.OrderId + ')">' +
                //        'Customer Rejected</button>' +
                //'</div>';

                var result = '<table id="orderdetail" class="table table-bordered">' +
                        '<thead>' +
                            '<tr>' +
                                '<th>OrderID' +
                                '</th>' +
                                '<th>Due Date' +
                                '</th>' +
                                '<th>Order Payment Type' +
                                '</th>' +
                                '<th>Receiver Name' +
                                '</th>' +
                                '<th>Receiver Phone' +
                                '</th>' +
                                '<th>Amount' +
                                '</th>' +
                                '<th>Action' +
                                '</th>' +
                            '</tr>' +
                        '</thead>' +
                        '<tbody>';
                for (var i = 0; i < data.result.length; i++) {
                    result += '<tr>' +
                                '<td>' + data.result[i].OrderId + '</td>' +

                                '<td>' + data.result[i].DueDateString + '</td>' +

                                '<td>' + data.result[i].OrderPaymentType + '</td>' +

                                '<td>' + data.result[i].ReceiverName + '</td>' +

                                '<td>' + data.result[i].ReceiverPhone + '</td>' +

                                '<td>' + accounting.formatMoney(data.result[i].AmountToBeCollected, "", 0, ',', '.') + ' VND</td>' +
                                '<td>' +
                                '<a class="btn btn-mini btn-primary" id="btnMarkAsFinished" onclick="markAsDelivered(' + data.result[i].OrderId + ')">' +
                                    'Customer Received</a>' +
                                '<a class="btn btn-mini btn-danger" style="margin-left:10px;" id="btnReject" onclick="markAsWaitingForReturn(' + data.result[i].OrderId + ')">' +
                                    'Customer Rejected</a>' +
                                '</td>' +
                            '</tr>';
                }

                result += '</tbody>' +
             '</table>' +

         $('#txtResultTable').html(result);
                $('#orderdetail').dataTable({
                    "sDom": "<'row-fluid'<'span12'f>r>t<'row-fluid'<'span6'l><'span6'p>>",
                    "aaSorting": [[1, "desc"]],
                    "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                    ]
                });
            }
        });

    });

    $('#myTab a:first').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#sendingtohub').dataTable({
            "sDom": "<'row-fluid'<'span6'f>r>t<'row-fluid'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", 'bSortable': false, "sWidth": "0.1%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sType": "numeric" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sType": "numeric" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sType": "numeric", "sClass": "amount" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sType": "date" },
        { "mDataProp": [5], sDefaultContent: "n/a" }
            ],
            "bProcessing": false,
            "bServerSide": false,
            "bPaginate": true,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldatasendingToHub/',
            "sServerMethod": "POST",
            "bRetrieve": true
        });
        var rowCount = $('#sendingtohub tr').length;
        if (rowCount > 2) {
            $('#btnChangeAll').html('<a href="#" role="button" data-toggle="modal" class="btn DTTT_button_text btn-success" id="btnChangeAllinHub"><span>Change Status</span></a>');
        } else {
            $('#btnChangeAll').html('');
        }
    })


    $('#myTab li:eq(1) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#InHub').dataTable({
            "sDom": "<'row-fluid'<'span12'f>>t<'row-fluid'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sClass": "amount" },
        { "mDataProp": [3], sDefaultContent: "n/a" }
            ],
            "bProcessing": false,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldatainhub/',
            "sServerMethod": "POST",
            "bRetrieve": true
        });
        $('#btnChangeAll').html('');
    })

    $('#myTab li:eq(2) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Delivered').dataTable({
            "sDom": "<'row-fluid'<'span6'f>>t<'row-fluid'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a" },
        { "mDataProp": [3], sDefaultContent: "n/a" }
            ],
            "bProcessing": true,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldataDelivered/',
            "sServerMethod": "POST",
            "bRetrieve": true
        });
        $('#btnChangeAll').html('');
    })

    $('#myTab li:eq(3) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#WaitingForReturn').dataTable({
            "sDom": "<'row-fluid'<'span6'f>>t<'row-fluid'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a" },
        { "mDataProp": [3], sDefaultContent: "n/a" },
            ],
            "bProcessing": false,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldataWaitingForReturn/',
            "sServerMethod": "POST",
            "bRetrieve": true
        });
        $('#btnChangeAll').html('');
    })

    $('#myTab a:last').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Return').dataTable({
            "sDom": "<'row-fluid'<'span6'f>>t<'row-fluid'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a" },
        { "mDataProp": [3], sDefaultContent: "n/a" }
            ],
            "bProcessing": false,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldataReturn/',
            "sServerMethod": "POST",
            "bRetrieve": true
        });
        $('#btnChangeAll').html('');
    })

    $("#checkallinhub").click(function () {
        if ($(this).is(":checked")) {
            $('.checksth').prop('checked', true);
        } else {
            $('.checksth').prop('checked', false);
        }
    });

    $('#btnChangeAll').click(function () {
        $('.checksth:checked').each(function () {
            var id = $(this).attr('id')
            $.post('/Hub/Dashboard/changestatustoInhub?&orderid=' + id, function (result) {
                if (result.success) {
                    $.blockUI();
                    window.location = '/Hub/Dashboard/';
                }
            });
        })
        $('.checkwtr:checked').each(function () {
            var id = $(this).attr('id')
            $.post('/Hub/Dashboard/changestatustoReturn?&orderid=' + id, function (result) {
                if (result.success) {
                    $.blockUI();
                    window.location = '/Hub/Dashboard/';
                }
            });
        })

    })

    $("#checkallwaiting").click(function () {
        if ($(this).is(":checked")) {
            $('.checkwtr').prop('checked', true);
        } else {
            $('.checkwtr').prop('checked', false);
        }
    });

    function checkStatusinHub() {
        $.post('/Hub/Dashboard/changestatustoInhub?&orderid=' + arguments[0], function (result) {
            if (result.success) {
                $.blockUI();
                window.location = '/Hub/Dashboard/';
            }
        });
    }

    function checkStatuswaiting() {
        $.post('/Hub/Dashboard/changestatustoReturn?&orderid=' + arguments[0], function (result) {
            if (result.success) {
                $.blockUI();
                window.location = '/Hub/Dashboard/';
            }
        });
    }



</script>
