@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses;
@{
    Layout = null;
}
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            <th>
                Order No.
            </th>
            <th>
                Requested Date
            </th>
            <th>
                Customer
            </th>
            <th>
                Receiver Address
            </th>
            <th>
                Amount To Collect
            </th>
            <th>
                Delivery Option
            </th>
            <th>
                Payment Type
            </th>
            <th>
                Status
            </th>
            <th>
                Due Date
            </th>
            <th>
            </th>
            <th>
                Fee
            </th>
            <th class="tbl-action-col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@item.OrderId
                </td>
                <td>
                    @(item.Request != null ? String.Format("{0:dd/MM/yyyy hh:mm tt}", item.Request.RequestedDate) : "None") 
                </td>
                <td>
                    @(item.Request != null ? item.Request.Customer.DisplayName : "None")
                </td>
                <td>
                    @item.FullAddress
                </td>
                <td>
                    @item.AmountToBeCollectedFromReceiver
                </td>
                <td>
                    @(item.DeliveryOption == null ? "None" : item.DeliveryOption.Name)
                </td>
                <td>
                    @(item.OrderPaymentType == null ? "None" : item.OrderPaymentType.Name)
                </td>
                <td>
                    @((OrderStatus)(item.OrderStatus))
                    @if (item.OrderStatus == (int)OrderStatus.ToBeReturned)
                    {
                        <a class="btn btn-success btn-mini" href="#" onclick="markAsReturned(@item.OrderId)">
                            Mark As Returned </a>
                    }
                </td>
                <td>
                    @if (item.DueDate != null)
                    {
                        @String.Format("{0:dd/MM/yyyy}", item.DueDate)
                    }
                    else
                    {
                        <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                    }
                </td>
                <td>
                    @if (item.DueDate != null)
                    {
                        @String.Format("{0:yyyyMMdd}", item.DueDate)
                    }
                    else
                    {
                        <text>000</text>
                    }
                </td>
                <td>
                    @if (item.Fee != null)
                    {
                        @item.Fee
                    }
                    else
                    {
                        <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                    }
                </td>
                <td class=" action-column">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="Orders/Details/@item.OrderId">View details </a>
                            </li>
                            @if (item.OrderStatus != (int)SMDH.Models.Statuses.OrderStatus.Delivered && item.OrderStatus != (int)SMDH.Models.Statuses.OrderStatus.Returned && item.OrderStatus != (int)SMDH.Models.Statuses.OrderStatus.ToBeReturned)
                            {
                                <li><a href="#" onclick="cancelOrder(@item.OrderId);">Canceled
                                </a></li>
                            }
                            
                            @if (item.OrderStatus == (int)OrderStatus.Returned || item.OrderStatus == (int)OrderStatus.ReDeliverRequest || item.OrderStatus == (int)OrderStatus.CustomerExtend)
                            {
                                   <li><a href="#" onclick="pricingOrder(@item.OrderId);">Pricing Order
                                </a></li>
                            }
                                
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
