@model SMDH.Models.Product
<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Name
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Size
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.Size)
            @Html.ValidationMessageFor(model => model.Size)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            Weight
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.ProductWeight)
            @Html.ValidationMessageFor(model => model.ProductWeight)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Price
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.ProductPrice)
            @Html.ValidationMessageFor(model => model.ProductPrice)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Image
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Category
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.ProductCategory)
            @Html.ValidationMessageFor(model => model.ProductCategory)
        </div>
    </div>
</div>
