@model SMDH.Models.Hub
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h3>Edit Hub</h3>
</div>
<div class="modal-body" style="height: 400px;">
    <fieldset>
        <div>
            @using (Html.BeginForm("ConfirmEdit", "Hubs", FormMethod.Post, new { id = "hub-edit-form" }))
            {
                @Html.ValidationSummary(true)
        
                @Html.HiddenFor(model => model.HubId)
                @Html.HiddenFor(model => model.IsActive)
                @Html.Partial("_CreateOrEdit", Model)       
            }
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Save" id="btnSave" />
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
</div>
<script type="text/javascript">
    $("#hub-edit-form").submit(function () {
        var success = false;
        if ($(this).valid()) {
            $.ajax({
                type: 'POST',
                url: $(this).attr("action"),
                data: $(this).serialize(),
                success: function (result) {
                    success = result.success;
                    if (success) {
                        $.post('/Hubs/UpdateLocation/' + @Model.HubId, { latitude: document.getElementById("lat").value, longitude: document.getElementById("lng").value })
                        $.blockUI();
                        window.location.reload();
                    }
                },
                async: false
            });
        }
        return false;
    });

    $('#btnSave').click(function () {
        $('#hub-edit-form').submit();
    });
</script>

<script type="text/javascript">
    var map;
    var geocoder;
    var marker;

    function initialize() {
        var latlng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
        var myOptions = {
            zoom: 16,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("latlongmap"),
            myOptions);


        geocoder = new google.maps.Geocoder();
        marker = new google.maps.Marker({
            position: latlng,
            map: map
        });

        document.getElementById("lat").value = @Model.Latitude;
        document.getElementById("lng").value = @Model.Longitude;

        //map.streetViewControl = true;

        google.maps.event.addListener(map, 'click', function (event) {
            marker.setPosition(event.latLng);

            var yeri = event.latLng;
            document.getElementById('lat').value = yeri.lat().toFixed(6);
            document.getElementById('lng').value = yeri.lng().toFixed(6);
        });
    }

    function codeAddress() {
        var address = document.getElementById("Address").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                document.getElementById('lat').value = results[0].geometry.location.lat().toFixed(6);
                document.getElementById('lng').value = results[0].geometry.location.lng().toFixed(6);
                var latlong = "(" + results[0].geometry.location.lat().toFixed(6) + " , " +
                    +results[0].geometry.location.lng().toFixed(6) + ")";

                var infowindow = new google.maps.InfoWindow({
                    content: latlong
                });

                marker.setPosition(results[0].geometry.location);
                map.setZoom(16);

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

            } else {
                alert("Lat and long cannot be found.");
            }
        });
    }

    $('#editModal').on('shown', function () {
        initialize();
    });
    //$(document).ready(function () {
    //    //$("#Address").keyup(function (event) {
    //    //    if (event.keyCode == 13) {
    //    //        codeAddress();
    //    //    }
    //    //});
        
    //});

</script>
