@model HDMS.Models.DeliveryPlan
@using HDMS.Models.Utilities
@using HDMS.Models.Statuses
@using System.Text.RegularExpressions;
@{
    Layout = null;
}
<html>
<body>
    <div class="plan-details">
        <div id="plan-details-box" class="green-bordered" style="margin-bottom: 5px;">
            <h3 align="center">Phiên giao hàng số #@Model.DeliveryPlanId</h3>
            <table>
                <tr>
                <td width="25%">
                    Ngày tạo: @String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedDate)<br/>
                    Người tạo: @Model.CreatedByUserInfo.FullName (@Model.CreatedByUser.UserName)<br/>
                </td>
                <td>
                    Số đơn hàng: @Model.Orders.Count<br/>
                    Nhân viên giao hàng: 
                        @if (Model.AssignedDeliveryStaffId != null)
                        {
                            @ViewBag.AssignTo
                        }
                    <br/>
                </td>
                </tr>
            </table>
        </div>
        <div height="20px"></div>
        <div class="tab-content">
            <div id="order-table-div">
                @using (Html.BeginForm("MarkAsDelivered", "Orders", FormMethod.Post, new { id = "mark-delivered-form", Style = "margin:0;" }))
                {
                    <table class="table table-bordered" id="main-table" border="1">
                        <thead>
                            <i>
                            <tr>
                                <th width="3%">
                                    STT
                                </th>
                                <th width="5%">
                                    Mã phiếu hàng
                                </th>
                                <th width="6%">
                                    Ngày nhận yêu cầu
                                </th>
                                <th width="12%">
                                    Người gửi
                                </th>
                                <th width="19%">
                                    Địa chỉ người nhận
                                </th>
                                <th width="5%">
                                    Gói giao hàng
                                </th>
                                <th width="5%">
                                    Kiểu thanh toán
                                </th>
                                <th width="8%">
                                    Người nhận
                                </th>
                                <th width="7%">
                                    Số ĐT
                                </th>
                                <th width="6%">
                                    Số tiền phải thu
                                </th>
                                <th width="6%">
                                    Ngày giờ giao hàng
                                </th>
                                <th width="6%">
                                    Chữ ký người nhận
                                </th>
                                <th width="11%">
                                    Ghi chú
                                </th>
                            </tr>
                            </i>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < ViewBag.OrderList.Count; i++ )
                            {
                                var order = ViewBag.OrderList[i];
                                var no = i + 1;
                                <tr>
                                    <td>
                                        @no
                                    </td>
                                    <td>
                                        #@order.OrderId
                                    </td>
                                    <td>
                                        @String.Format("{0:dd/MM/yyyy}", order.Request.RequestedDate)<br />
                                        @String.Format("{0:hh:mm tt}", order.Request.RequestedDate)
                                    </td>
                                    <td>
                                        @order.Request.Customer.DisplayName
                                    </td>
                                    <td>
                                        @order.FullAddress
                                    </td>
                                    <td>
                                        @(order.DeliveryOption == null ? "None" : order.DeliveryOption.Name)
                                    </td>
                                    <td>
                                        @(order.OrderPaymentType == null ? "None" : order.OrderPaymentType.Name)
                                    </td>
                                    <td>
                                        @order.ReceiverName
                                    </td>
                                    <td>
                                        @order.ReceiverPhone
                                    </td>
                                    <td>
                                        @order.AmountToBeCollectedFromReceiver VNĐ
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</body>
</html>
