@model SMDH.Models.Plan
@{
    ViewBag.Title = "Create New Collection Plan";
    ViewBag.Heading = "Create New Collection Plan";
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/select2.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date.js" type="text/javascript"></script>
<script src="/js/accounting.js" type="text/javascript"></script>
<script src="/js/jquery.numeric.js" type="text/javascript"></script>
<script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class=" icon-hand-right"></i></span>
        <h5>
            Number of plan</h5>
    </div>
    <div class="widget-content nopadding">
        <div class="control-group">
            <label class="control-label">
                Number of plan</label>
            <div class="controls">
                <input style="width: 160px;" type="text" id="txtNumPlans" />
            </div>
        </div>
    </div>
</div>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class=" icon-hand-right"></i></span>
        <h5>
            Group requests</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Group types</label>
            <div class="controls">
                <label>
                    <input type="radio" class="radios" name="radios" onclick="triggerRadio()" id="rdoGroupAll"
                        checked />
                    Group all requests</label>
                <label>
                    <input type="radio" class="radios" name="radios" onclick="triggerRadio()" id="rdoMaximumRequestOption" />
                    Group<input style="width: 30px;" class="input-mini" type="text" id="txtMaximumRequest"
                        value="10" />
                    request(s)
                </label>
                <button class="btn btn-primary" id="btnGroup">
                    Group</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="span6">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class=" icon-hand-right"></i></span>
            <h5>
                Request(s)</h5>
        </div>
        <div class="widget-content" id="requestsZone">
            <ul class="site-stats" id="selectedRequestZone" style="height: 500px; overflow: scroll;">
                @if (ViewBag.PossibleRequests != null)
                {
                    int i = 1;
                    foreach (var listRequestViewModel in ViewBag.PossibleRequests)
                    {
                        string addressId = "";                        
                    <li id="group-@i">
                        <div id="add-@i" style="float: right;">
                            <a class="label label-success" onclick="addtoplan(@i)">Add<i class="icon-circle-arrow-right"></i></a></div>
                        <div>
                            @foreach (var request in listRequestViewModel)
                            {
                            
                                <div>
                                    <span class="icon-book"></span><span class="label label-info requestId">@request.RequestId</span><span
                                        class="icon-user"></span><span class="label label-info requestId">@request.Customer</span><span
                                            class="icon-calendar"></span><span class="label label-info requestId">@request.RequestedDate</span>
                                </div>
                                addressId = request.CollectionAddress;
                            }
                            <div>
                                <span class="icon-globe"></span><span>@addressId</span>
                            </div>
                        </div>
                        <div>
                            ---------------------------------------------------</div>
                    </li>                       
                            i++;
                    }
                }
                else
                {
                    <li>No Request Available </li>       
                    
                }
            </ul>
        </div>
    </div>
</div>
<div class="span6">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class=" icon-hand-right"></i></span>
            <h5>
                Selected Request(s)</h5>
        </div>
        <div class="widget-content" id="selectedRequest">
            <ul class="site-stats" style="height: 500px; overflow: scroll;">
            </ul>
        </div>
    </div>
</div>
<div class="span12">
    <button type="submit" class="btn btn-primary" id="btnConfirm">
        Solve</button>
</div>
<form id="toBeSubmit" action="EditAutoScheduleCollectionPlan">
</form>
<script type="text/javascript">
    //$("#txtMaximumRequest").numeric({ decimal: false, negative: false }, function() {
    //     bootbox.alert("Positive integers only"); 
    //     this.value = ""; 
    //     this.focus();
    // });
    var defaultString = "10";
    function triggerRadio() {
        if ($('#rdoMaximumRequestOption').prop('checked')) {
            $('#txtMaximumRequest').readOnly = false;
            $('#txtMaximumRequest').focus();
        } else {
            if ($('#rdoGroupAll').prop('checked')) {
                $('#txtMaximumRequest').readOnly = true;
                $('#txtMaximumRequest').val("10");
                triggerGroup();
            }

        }

    };

    $('#txtMaximumRequest').blur(function () {
        if ($('#txtMaximumRequest').val() != defaultString) {
            triggerGroup();
        }

    });

    function triggerGroup() {
        defaultString = $('#txtMaximumRequest').val();
        var maxRequest = -1;
        if ($('#rdoMaximumRequestOption').prop('checked')) {
            maxRequest = $('#txtMaximumRequest').val();

            //user left the textbox blank
            if ($('#txtMaximumRequest').val().length == 0) {
                bootbox.alert("Must maximum value");
                return;
            }
            //user enter not a number value            

        } else {
            maxRequest = 100000;
        }

        //check if maxRequest is Not null


        $.post("/Plans/GroupRequestByCollectionAddressId", { maxRequest: maxRequest }, function (data) {
            var resultHtml = '<ul class="site-stats" id="selectedRequestZone">';
            if (data.success) {
                $('#requestsZone').html("")
                var k = 1;
                for (var i = 0; i < data.groupList.length; i++) {
                    var resultItemString = "";
                    var collectionAddress = "";
                    resultItemString += '<div>';
                    resultItemString += '<li id="group-'+ k +'">' +
                        '<div id="add-' + k + '" style="float:right;"><a class="label label-success" onclick="addtoplan('+ k +')">Add<i class="icon-circle-arrow-right"></i></a></div>' + '<div>';
                    var list = data.groupList[i];
                    for (var j = 0; j < list.length; j++) {
                        var item = list[j];
                        resultItemString +=
                            '<div>' +
                                '<span class="icon-book"></span><span class="label label-info requestId">' + item.RequestId + '</span><span ' +
                                    'class="icon-user"></span><span class="label label-info requestId">' + item.Customer + '</span><span ' +
                                        'class="icon-calendar"></span><span class="label label-info requestId">' + item.RequestedDate + '</span>' +
                            '</div>';
                        collectionAddress = item.CollectionAddress;
                    }
                    resultItemString += '<div>' +
                                '<span class="icon-globe"></span><span>' + collectionAddress + '</span>' +
                            '</div>' +
                        '</div>' +
                        '<div>' +
                            '---------------------------------------------------</div>';
                    resultItemString += "</li>";
                    resultItemString += '</div>';
                    resultHtml += resultItemString;
                    k++;
                }
                resultHtml += "</ul>";
                //alert(resultHtml);
                $('#requestsZone').html(resultHtml);
            } else {
            }
        });
    };

    var selectedrq = new Array();
    var i = 0;
//    $("#addtoplan").click(function () {
//        $("#requestsZone :checkbox:checked").each(function () {
//            var id = $(this).attr('id');
//            $(this).attr('checked', false);
//            $("#selectedRequest > ul").append($("#group-" + id));
//        })
//    })

//    $("#removeplan").click(function () {
//        $("#selectedRequest :checkbox:checked").each(function () {
//            var id = $(this).attr('id');
//            $(this).attr('checked', false);
//            $("#requestsZone > ul").append($("#request-" + id));
//        })
//    })

    function addtoplan() {
        //alert(arguments[0]);
        $("#selectedRequest > ul").append($("#group-" + arguments[0]));
        $("#add-" + arguments[0]).html('<a class="label label-important" onclick="removefromplan(' + arguments[0] + ')"><i class="icon-circle-arrow-left"></i>Remove</a>');
        $("#group-" + arguments[0]).addClass('alert-danger');
    }

    function removefromplan() {
        $("#requestsZone > ul").append($("#group-" + arguments[0]));
        $("#add-" + arguments[0]).html('<a class="label label-success" onclick="addtoplan(' + arguments[0] + ')"><i class="icon-circle-arrow-right"></i>Add</a>');
        $("#group-" + arguments[0]).removeClass('alert-danger');
    }

    $('#btnConfirm').click(function () {
        selectedrq.length = 0;
        $("#selectedRequest :checkbox").each(function () {
            var requestid = $(this).attr('id');
            selectedrq.push(requestid);
        })
        //forTest
        selectedrq.push(32); selectedrq.push(38);
        //end For Tests

        var planNumber = $('#txtNumPlans').val();
        var input = $("<input>").attr("type", "hidden").attr("name", "requestsIdsList").val(selectedrq);
        var planNum = $("<input>").attr("type", "hidden").attr("name", "planNumber").val(planNumber);
        $('#toBeSubmit').append($(input))
        $('#toBeSubmit').append($(planNum))
        $('#toBeSubmit').submit();

    })
</script>
