@model IEnumerable<SMDH.Models.Plan>
@using SMDH.Models.Utilities
@using SMDH.Models.Statuses
@using System.Text.RegularExpressions;
@{
    Layout = null;
}
<table id="main-table" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Plan No.
            </th>
            <th>
                Created Date
            </th>
            <th>
                Created By
            </th>
            <th>
                Finished Date
            </th>
            <th>
                PlantypeID
            </th>
            <th>
                StartDate
            </th>
            <th>
                Note
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@item.PlanId
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.CreatedDate)
                </td>
                <td>
                    @item.CreatedByUserId
                </td>
                <td>
                    @item.FinishedDate
                </td>
                <td>
                    @item.PlanTypeId
                </td>
                <td>
                    @item.StartDate
                </td>
                @*                <td>
                    @if (item.Status > 1)
                    {
                        <span class="label label-success">Assigned</span>
                    }
                    else
                    {
                        <span class="label">Not assigned yet</span>
                        <a href="#assignModal" data-toggle="modal" onclick="assign(@item.PlanId)" class="myToolTip" rel="tooltip" title="Assign to another staff">
                            <img src="/img/icons/arrow_right2.png" />
                        </a>
                    }
                </td>*@
                <td>
                    @item.Note
                </td>
                @*                <td class="action-column">
                    <a class="btn action view" href="/Plans/Details/@item.PlanId">
                        <img src="/img/icons/notepad.png" alt="View" title="View"></a>
                </td>*@
                <td>
                    <a class="update btn action" href="javascript:void(0)" onclick="edit(@item.PlanId)">
                        <i class="icon-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
