@model IEnumerable<SMDH.Models.Request>
@using System.Text.RegularExpressions
@using SMDH.Models.Statuses;
@{ 
    Layout = null;
}
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            <th>
                Request No.
            </th>
            <th>
                Requested Date
            </th>
            <th>
            </th>
            <th>
                Customer
            </th>
            <th>
                Orders
            </th>
            <th>
                Collection Address
            </th>
            <th>
                Status
            </th>
            <th>
                Note
            </th>
            <th class="tbl-action-col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@item.RequestId
                </td>
                <td>
                    @if (item.RequestedDate != null)
                    {
                        @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.RequestedDate)
                    }
                </td>
                <td>
                    @if (item.RequestedDate != null)
                    {
                        @String.Format("{0:yyyyMMddHHmm}", item.RequestedDate)
                    }
                    else
                    {
                        <text>000</text>
                    }
                </td>
                <td>
                    @Html.DisplayTextFor(_ => item.Customer.DisplayName).ToString()
                </td>
                <td>
                    @item.ValidOrders.Count
                </td>
                <td>
                    @item.CustomerAddress.FullAddress
                </td>
                <td style="min-width: 65px;">
                    @((RequestStatus)item.RequestStatus)
                </td>
                <td>
                    @item.Note
                </td>
                <td class="action-column"@if (item.RequestStatus == (int)SMDH.Models.Statuses.RequestStatus.Draft)
                                         {<text>style="min-wid"</text>}>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/Requests/Details/@item.RequestId">View </a></li>
                            @if (item.RequestStatus != (int)SMDH.Models.Statuses.RequestStatus.Finished)
                            {
                                if (item.RequestStatus != (int)SMDH.Models.Statuses.RequestStatus.Canceled)
                                {
                         
                                <li><a href="javascript:void(0)" onclick="cancelRequest(@item.RequestId);">Canceled
                                </a></li>
                                }
                            }
                            @if (item.RequestStatus == (int)SMDH.Models.Statuses.RequestStatus.Draft)
                            {
                                <li><a href="/Requests/AddOrders/@item.RequestId">
                                    Edit</a>   
                                </li>
                            }
                            @if (item.RequestStatus == (int)SMDH.Models.Statuses.RequestStatus.New)
                            {
                                <li><a href="/Requests/ApproveOrders/@item.RequestId">
                                    Approve Orders</a>   
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
