@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}

<link rel="stylesheet" type="text/css" href="/css/select2.css" />

<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="/js/crud.js" type="text/javascript"></script>*@
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date.js" type="text/javascript"></script>
<script src="/js/accounting.js" type="text/javascript"></script>
<style type="text/css">
.table td.amount
{
    text-align:right;
}
</style>
<h2>@ViewBag.datasendinginhub</h2>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-edit"></i></span>
        <h5>
            Tracking Order</h5>
    </div>
    <div class="widget-content nopadding">
        <form action="#" method="get" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Passcode</label>
            <div class="controls">
                <input type="text" id="txtPasscode" />
                <button type="submit" class="btn btn-primary" id="btnConfirm">
                    Confirm</button>
            </div>
            <div id="txtResultTable">
            </div>
        </div>
        </form>
    </div>
</div>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-shopping-cart"></i></span>
        <h5>
            Order Tables</h5>
    </div>
    <div class="widget-content">
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#1"><i class="icon icon-road"></i><span>Sending To Hub</span> <span
                class="label">@ViewBag.NumberOfOrders[0]</span></a></li>
            <li><a href="#2"><i class="icon icon-download-alt"></i><span>In Hub</span> <span class="label">@ViewBag.NumberOfOrders[1]</span></a></li>
            <li><a href="#3"><i class="icon icon-ok"></i><span>Delivered</span> <span class="label">@ViewBag.NumberOfOrders[2]</span></a></li>
            <li><a href="#4"><i class="icon icon-refresh"></i><span>Waiting For Return</span> <span
                class="label">@ViewBag.NumberOfOrders[3]</span></a></li>
            <li><a href="#5"><i class="icon icon-share-alt"></i><span>Returned</span> <span class="label">@ViewBag.NumberOfOrders[4]</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="1">
                <table id="sendingtohub" class="table table-bordered data-table dataTable">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="checkallinhub" name="title-table-checkbox" />
                            </th>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="2">
                <table id="InHub" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Due Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="3">
                <table id="Delivered" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Delivery Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="4">
                <table id="WaitingForReturn" class="table table-bordered with-check">
                    <thead>
                        <tr>
                            @*<th>
                                <input type="checkbox" id="checkallwaiting" name="title-table-checkbox" />
                            </th>*@
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Due Date
                            </th>
@*                            <th>
                                Action
                            </th>*@
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="5">
                <table id="Return" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                Item No.
                            </th>
                            <th>
                                Collected Date
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="span12" id="btnChangeAll">
</div>
<script type="text/javascript">
    function markAsDelivered() {
        var orderId = arguments[0];
        bootbox.confirm("Mark this order as Delivered ?", function (confirmed) {
            if (confirmed) {
                $.post("/Orders/MarkAsDelivered/", { orderId: orderId }, function (data) {
                    if (data.success) {
                        window.location = '/Hub/Dashboard/'
                    } else {
                        bootbox.alert("Can not mark this as delivered");
                    }
                });

            }
        });

    };
    $('#btnConfirm').click(function (e) {
        var passCode = $('#txtPasscode').val();
        $.post("/Hub/Orders/SubmitPasscode/", { passCode: passCode }, function (data) {
            if (!data.success) {
                bootbox.alert("Not a valid passcode");
            } else {
                var resultTableString = '<div class="row-fluid" id="collection-plan-details">' +
            '<div class="col-left" style="width: 30%; min-width: 250px; float: left">' +
                '<dl class="dl-horizontal">' +
                    '<dt>Order No:</dt>' +
                    '<dd id="OrderId">' +
                        +data.result.OrderId + '</dd>' +
                    '<dt>Due date:</dt>' +
                    '<dd id="DueDate">' + data.result.DueDateString + '</dd>' +
                    '<dt>Order Payment Type</dt>' +
                    '<dd id="PaymentType">' + data.result.OrderPaymentType + '</dd>' +
                '</dl>' +
            '</div>' +
            '<div class="col-right" style="width: 30%; min-width: 300px; float: left">' +
                '<dl class="dl-horizontal">' +
                    '<dt>Receiver Name</dt>' +
                    '<dd id="Receiver Name">' +
                        data.result.ReceiverName +
                    '</dd>' +
                    '<dt>Receiver Phone:</dt>' +
                    '<dd id="Note">' +
                        data.result.ReceiverPhone + '</dd>' +
                     '<dt>Amount to be Collected</dt>' +
                    '<dd id="ToBeCollected">' +
                        accounting.formatMoney(data.result.AmountToBeCollected, "VND", 0, ',', '.') +
                    '</dd>' +
                '</dl>' +

            '</div>' +
            '<div style="width: 6%; min-width: 80px; float: right">' +

                    '<button class="btn btn-success" id="btnMarkAsFinished" style="width: 100%;" onclick="markAsDelivered(' + data.result.OrderId + ')">' +
                        'Mark as Finished</button>' +

            '</div>' +
        '</div>';
                $('#txtResultTable').html(resultTableString);

            }
        });

    });

    $('#myTab a:first').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#sendingtohub').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", 'bSortable': false, "sWidth": "0.1%" },
        { "mDataProp": [1], sDefaultContent: "n/a", "sWidth": "8%", "sType": "numeric" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sWidth": "8%", "sType": "numeric" },
        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "10%", "sType": "numeric", "sClass": "amount" },
        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "15%", "sType": "date" },
        { "mDataProp": [5], sDefaultContent: "n/a", "sWidth": "8%" }
        ],
            "bProcessing": false,
            "bServerSide": false,
            "bPaginate": true,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldatasendingToHub/',
            "sServerMethod": "POST",
            "bDestroy": true
        });

        $('#btnChangeAll').html('<a href="#" role="button" data-toggle="modal" class="btn DTTT_button_text btn-success" id="btnChangeAllinHub"><span>Change Status</span></a>');
    })


    $('#myTab li:eq(1) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#InHub').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a", "sClass": "amount" },
        { "mDataProp": [3], sDefaultContent: "n/a" }
        ],
            "bProcessing": false,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldatainhub/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
        $('#btnChangeAll').html('');
    })

    $('#myTab li:eq(2) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Delivered').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "8%" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a" },
        { "mDataProp": [3], sDefaultContent: "n/a" }
        ],
            "bProcessing": true,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldataDelivered/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
        $('#btnChangeAll').html('');
    })

    $('#myTab li:eq(3) a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#WaitingForReturn').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a", "sWidth": "8%" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a" },
//        { "mDataProp": [3], sDefaultContent: "n/a", "sWidth": "15%" },
//        { "mDataProp": [4], sDefaultContent: "n/a", "sWidth": "15%" }
        ],
            "bProcessing": false,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldataWaitingForReturn/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
        $('#btnChangeAll').html('');
    })

    $('#myTab a:last').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('#Return').dataTable({
            "sDom": "<'row'<'span6'><'span6'f>r>t<'row'<'span6'l><'span6'p>>",
            "aoColumns": [
        { "mDataProp": [0], sDefaultContent: "n/a" },
        { "mDataProp": [1], sDefaultContent: "n/a" },
        { "mDataProp": [2], sDefaultContent: "n/a"}
        ],
            "bProcessing": false,
            "bServerSide": false,
            "bSort": true,
            "sAjaxSource": '/Hub/Dashboard/getalldataReturn/',
            "sServerMethod": "POST",
            "bDestroy": true
        });
        $('#btnChangeAll').html('');
    })

    $("#checkallinhub").click(function () {
        if ($(this).is(":checked")) {
            $('.checksth').prop('checked', true);
        } else {
            $('.checksth').prop('checked', false);
        }
    });

    $('#btnChangeAll').click(function () {
        $('.checksth:checked').each(function () {
            var id = $(this).attr('id')
            $.post('/Hub/Dashboard/changestatustoInhub?&orderid=' + id, function (result) {
                if (result.success) {
                    $.blockUI();
                    window.location = '/Hub/Dashboard/';
                }
            });
        })
        $('.checkwtr:checked').each(function () {
            var id = $(this).attr('id')
            $.post('/Hub/Dashboard/changestatustoReturn?&orderid=' + id, function (result) {
                if (result.success) {
                    $.blockUI();
                    window.location = '/Hub/Dashboard/';
                }
            });
        })

    })

    $("#checkallwaiting").click(function () {
        if ($(this).is(":checked")) {
            $('.checkwtr').prop('checked', true);
        } else {
            $('.checkwtr').prop('checked', false);
        }
    });

    function checkStatusinHub() {
        $.post('/Hub/Dashboard/changestatustoInhub?&orderid=' + arguments[0], function (result) {
            if (result.success) {
                $.blockUI();
                window.location = '/Hub/Dashboard/';
            }
        });
    }

    function checkStatuswaiting() {
        $.post('/Hub/Dashboard/changestatustoReturn?&orderid=' + arguments[0], function (result) {
            if (result.success) {
                $.blockUI();
                window.location = '/Hub/Dashboard/';
            }
        });
    }

    

</script>
