@model SMDH.Models.Request
@using SMDH.Models.Statuses
@using SMDH.Models
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Request Details";
    ViewBag.Heading = "Request Details";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/order-item-ticket.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="/css/timepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-timepicker.js" type="text/javascript"></script>
<div class="requestDetails">
    @*    <div id="companyInfo" class="green-bordered">
        <div style="clear: both;">
        </div>
        <div class="row-fluid" id="request-summary">
            <div class="col-left" style="width:30%;min-width:250px;float:left">
                <dl class="dl-horizontal">
                    <dt>Request Number:</dt>
                    <dd>
                        #@Model.RequestId</dd>
                    <dt>Customer:</dt>
                    <dd>@Model.Customer.DisplayName</dd>
                    <dt>Requested Date:</dt>
                    <dd>@string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.RequestedDate)</dd>
                    <dt>Status:</dt>
                    <dd>
                        <span class="label label-warning">@Regex.Replace(Model.Status.ToString(), "(\\B[A-Z])", " $1")</span><text>&nbsp;</text></dd>
                </dl>
            </div>
            <div class="col-center" style="width:25%;min-width:200px;float:left">
                <dl class="dl-horizontal">
                    <dt>Number of orders:</dt>
                    <dd>@Model.ValidOrders.Count</dd>
                    <dt>Number of items:</dt>
                    <dd>@Model.NumberOfItems</dd>
                    <dt>Total fee:</dt>
                    <dd id="totalFee">@Model.TotalFee VNĐ</dd>
                </dl>
            </div>
            <div class="col-right" style="width:44%;min-width:350px;float:left">
                <dl class="dl-horizontal">
                    <dt>Total amount to collect:</dt>
                    <dd>@Model.TotalAmountToBeCollected VNĐ</dd>
                    <dt>Note:</dt>
                    <dd>
                        @if (string.IsNullOrWhiteSpace(Model.Note))
                        {
                            <text>None</text>
                        }
                        else
                        {
                            <text>@Model.Note</text>
                        }
                    </dd>                    
                    <dt>Collection Address:</dt>
                    <dd>@Model.CustomerAddress.FullAddress</dd>
                </dl>
            </div>
        </div>
    </div>*@

    <div class="row-fluid">
        <div class="invoice">
            <div class="invoice-head">
                <img src="/img/customer.jpg" alt="logo" class="logo">
                <div class="invoice-info">
                    <span>Request Number: #@Model.RequestId</span>
                </div>
            </div>
            <div class="invoice-data-container">
                <div class="from">
                    <h5>Customer: @Model.Customer.DisplayName
                    </h5>
                    <span style="width: 800px;">Collection Address: @Model.CustomerAddress.FullAddress</span>
                    <span>Requested Date: @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.RequestedDate)</span>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10%">Number of orders
                        </th>
                        <th style="width: 10%">Number of items
                        </th>
                        <th style="width: 50%" class="hidden-phone">Total Fee
                        </th>
                        <th style="width: 10%" class="hidden-phone">Status
                        </th>
                        <th style="width: 10%" class="hidden-phone">Note
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.ValidOrders.Count
                        </td>
                        <td>
                            @Model.NumberOfItems
                        </td>
                        <td>
                            @(String.Format("{0,12:N0}",Model.TotalFee)) VNĐ
                        </td>
                        <td>
                            <h5 class="label label-warning">@((RequestStatus)Model.RequestStatus)</h5>
                        </td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(Model.Note))
                            {
                                <text>None</text>
                            }
                            else
                            {
                                <text>@Model.Note</text>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="accordion1" class="accordion no-margin">
                @foreach (var order in Model.Orders.Where(o => o.OrderStatus != (int)OrderStatus.Canceled))
                {
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#order-@order.OrderId" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                                <i class="icon-shopping-cart"></i>Order @order.OrderId </a>
                        </div>
                        <div class="accordion-body in collapse" id="order-@order.OrderId" style="height: auto;">
                            <div class="accordion-inner">
                                <div class="span6">
                                    @if (order.OrderStatus == (int)OrderStatus.Rejected)
                                    {
                                        <div class="row-fluid" style="background: rgb(168, 49, 49); color: #fff; text-align: center;">
                                            Rejected
                                        </div>
                                    }
                                    <div class="widget">
                                        <div class="widget-body">
                                            <form class="no-margin">
                                                <div class="control-group">
                                                    <label class="control-label" for="name">
                                                        Receiver Name : @order.ReceiverName
                                                    </label>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="name">
                                                        Receiver Phone : @order.ReceiverPhone
                                                    </label>
                                                    <label class="control-label" for="name">
                                                        Properties : <span class="label label-success">@order.DeliveryOption.Name</span>
                                                        <span class="label label-info">@order.OrderPaymentType.Name</span>
                                                    </label>
                                                    <label class="control-label" for="name">
                                                        Amount to collect : @(String.Format("{0,12:N0}", order.AmountToBeCollectedFromReceiver))
                                                        VNĐ
                                                    </label>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="name">
                                                        Note :
                                                @if (string.IsNullOrWhiteSpace(order.Note))
                                                {
                                                    <text>None</text>        
                                                }
                                                else
                                                {
                                                    @order.Note
                                                }
                                                    </label>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="name">
                                                        Delivery Address : @order.FullAddress
                                                    </label>
                                                </div>
                                                @if (order.OrderStatus != (int)OrderStatus.Rejected)
                                                {
@*<div class="form-actions no-margin">
                                                        <a href="#" onclick="cancelOrder(@order.OrderId)" class="myToolTip btn action" rel="tooltip" title="Cancel Order"  role="button" class="deleteOrder btn action" data-toggle="modal">
                                                            <img src="/img/icons2/cross.png" alt="Cancel Order" width="15">Cancel Order
                                                        </a>
                                                    </div>*@
                                                }
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="widget">
                                        <div class="widget-header">
                                            <div class="title">
                                                Items
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            @if (order.Items.Count == 0)
                                            {
                                                <li class="no-item">There is no item in this order.</li>
                                            }
                                            else
                                            {
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Name
                                                            </th>
                                                            <th>Weight
                                                            </th>
                                                            <th>Quantity
                                                            </th>
                                                            <th>Properties
                                                            </th>
                                                            <th>Note
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in order.Items)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @item.Name
                                                                </td>
                                                                <td>@item.Weight
                                                                </td>
                                                                <td>@item.Quantity
                                                                </td>
                                                                <td>
                                                                    @if (!item.IsFragile && !item.HasHighValue)
                                                                    { <text>None</text> }
                                                                    @if (item.IsFragile)
                                                                    {<span class="label label-success">Fragile</span><text>&nbsp;</text>}
                                                                    @if (item.HasHighValue)
                                                                    {<span class="label label-info">High Value</span><text>&nbsp;</text>}
                                                                </td>
                                                                <td>
                                                                    @if (string.IsNullOrWhiteSpace(item.Note))
                                                                    {
                                                                        <text>None</text>        
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.Note
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @*<div class="tabbable tabs-left" id="orders-items">
        <ul class="span7 nav nav-tabs" id="order-list">
            @foreach (var order in Model.Orders.Where(o => o.Status != OrderStatus.Canceled))
            {
                <li id="order-@order.OrderId">
                    <div class="ticket-container span12 ticket order-ticket">
                        <div class="order-ticket-info">
                            <div class="row-fluid">
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <span class="myToolTip" rel="tooltip" title="Order Number" style="font-size: 15px; color: #969696">#</span>
                                        </dt>
                                        <dd class="order-number">
                                            @order.OrderId</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/user.png" class="myToolTip" rel="tooltip" title="Receiver Name" width="15px" />
                                        </dt>
                                        <dd class="receiver-name">
                                            @order.ReceiverName</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/phone.png" class="myToolTip" rel="tooltip" title="Receiver Phone" width="15px" />
                                        </dt>
                                        <dd class="receiver-phone">
                                            @order.ReceiverPhone</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/info.png" class="myToolTip" rel="tooltip" title="Properties" width="15px" />
                                        </dt>
                                        <dd class="properties">
                                            <span class="label label-success">@order.DeliveryOption.Name</span> <span class="label label-info">@order.OrderPaymentType.Name</span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/bill.png" class="myToolTip" rel="tooltip" title="Amount to collect" width="15px" />
                                        </dt>
                                        <dd class="amount-to-be-collected">
                                            @order.AmountToBeCollectedFromReceiver VNĐ</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons2/calendar.png" class="myToolTip" rel="tooltip" title="Due Date" width="15px" />
                                        </dt>
                                        <dd class="dueDate">
                                            @if (order.DueDate != null)
                                            {
                                                <span class="label label-important">@String.Format("{0:dd/MM/yyyy hh:mm tt}", order.DueDate)</span><text>&nbsp;</text>
                                            }
                                            else
                                            {
                                                <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/coin.png" class="myToolTip" rel="tooltip" title="Fee" width="15px" />
                                        </dt>
                                        <dd class="fee">
                                            @if (order.Fee != null)
                                            {
                                                @order.Fee <text>VNĐ</text>
                                            }
                                            else
                                            {
                                                <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/coin.png" class="myToolTip" rel="tooltip" title="Fee" width="15px" />
                                        </dt>
                                        <dd class="note">
                                            @if (string.IsNullOrWhiteSpace(order.Note))
                                            {
                                                <text>None</text>        
                                            }
                                            else
                                            {
                                                @order.Note
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt><span class="myToolTip" rel="tooltip" title="Receiver Address" style="font-size: 15px; color: #969696">@@</span></dt>
                                        <dd class="full-address">
                                            @order.FullAddress</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="tab-content" id="tab-items">
            @foreach (var order in Model.Orders.Where(o => o.Status != OrderStatus.Canceled))
            {            
                <div class="tab-pane" id="tab-order-@order.OrderId">
                    <ul>
                        @if (order.Items.Count == 0)
                        {
                            <li class="no-item">There is no item in this order.</li>
                        }
                        else
                        {
                            foreach (var item in order.Items)
                            {
                            <li id="item-@item.ItemId">
                                <div class="ticket-container span12 ticket item-ticket">
                                    <div class="row-fluid">
                                        <div class="column left-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/box.png" class="myToolTip" rel="tooltip" title="Product" alt="Product" width="15" />
                                                </dt>
                                                <dd class="item-name">
                                                    @item.Name</dd>
                                                <dt>
                                                    <img src="/img/icons/font_size.png" class="myToolTip" rel="tooltip" title="Size" alt="Size" width="15" />
                                                </dt>
                                                <dd class="size">
                                                    @item.Size</dd>
                                            </dl>
                                        </div>
                                        <div class="column center-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/chart_bar.png" class="myToolTip" rel="tooltip" title="Quantity" alt="Quantity" width="15" />
                                                </dt>
                                                <dd class="quantity">
                                                    @item.Quantity</dd>
                                                <dt>
                                                    <img src="/img/icons/gram_weight.png" alt="Weight" class="myToolTip" rel="tooltip" title="Weight" width="15" />
                                                </dt>
                                                <dd class="weight">
                                                    @item.Weight</dd>
                                            </dl>
                                        </div>
                                        <div class="column right-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/info.png" class="myToolTip" rel="tooltip" title="Properties" width="15px" />
                                                </dt>
                                                <dd class="properties">
                                                    @if (!item.IsFragile && !item.HasHighValue)
                                                    { <text>None</text> }
                                                    @if (item.IsFragile)
                                                    {<span class="label label-success">Fragile</span>}
                                                    @if (item.HasHighValue)
                                                    {<span class="label label-info">High Value</span>}
                                                    <text>&nbsp;</text>
                                                </dd>
                                                <dt>
                                                    <img src="/img/icons/notepencil32.png" class="myToolTip" rel="tooltip" title="Description"
                                                        width="15px" />
                                                <dd class="note">
                                                    @item.Note</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>*@
</div>
<div class="row-fluid">
    <div class="span12">
        <a href="/Customer/Requests/" role="button" class="btn btn-primary pull-left" data-toggle="modal">View All Requests</a>
    </div>
</div>
<!-- Begin Modal-->
<div class="modal hide fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End Modal -->
<script>
    setupOrderTicket();

    $('.order-ticket-info').css('width', $('.order-ticket:first-child').css('width'));
    $(window).resize(function () {
        $('.order-ticket-info').css('width', $('.order-ticket:first-child').css('width'));
    });

</script>
